* {margin:0; padding:0; box-sizing:border-box}
body {font-family: Verdana, sans-serif; background:white}

.app {
  display:grid;
  grid-template-columns: 240px 1fr;
  min-height:100vh;
}

/* SIDEBAR NKUYA MURI MACBOOK */
.sidebar {padding:25px; background:white}
.sidebar h3 {letter-spacing:3px; font-weight:400}
.sidebar a {display:block; text-decoration:none; padding:10px 0; font-size:15px}
.gray {color:#757575}
.black {color:black}
.sub {padding-left:15px; margin:10px 0}
.skinny {background:#f1f1f1; color:black !important}

/* MAIN */
.main {padding:15px}
.top {display:flex; justify-content:space-between; font-size:20px; margin-bottom:15px}

/* BANNER - NKIYIRI MURI FOTO YAWE */
.banner {position:relative; width:100%}
.banner img {width:100%; height:550px; object-fit:cover}
.text {position:absolute; top:30px; left:30px; color:white}
.text h1 {font-size:50px; font-weight:300}
.text h2 {font-size:20px; font-weight:400; letter-spacing:2px; margin:15px 0}
.text a {
  display:inline-block;
  background:black;
  color:white;
  padding:12px 20px;
  text-decoration:none;
  font-size:14px;
  margin-top:10px;
}
.text a:hover {background:#ccc; color:black}

@media(max-width:700px){
  .app {grid-template-columns:1fr}
  .sidebar {display:none}
}